.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    font-family: Poppins;
}

body {
    height: 100%;
    font-family: Poppins;
}

.display-4 {
    font-weight: 600;
}

#lgfot {
    margin-bottom: 20px;
}

.card-header {
    text-align: center;
    padding: auto;
}

#hpricing {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#myclass {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#about {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}


.form-control:focus {
    box-shadow: none;
    border-color: rgb(0, 147, 254)
}

.profile-button {
    background: rgb(0, 147, 254);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(115, 194, 250)
}

.profile-button:focus {
    background: rgb(0, 147, 254);
    box-shadow: none
}

.profile-button:active {
    background: rgb(0, 147, 254);
    box-shadow: none
}

.back:hover {
    color: rgb(0, 147, 254);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgb(0, 147, 254);
    color: #fff;
    cursor: pointer;
    border: solid 1px rgb(0, 147, 254)
}